<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>finish</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="container-fluid finfish-block-space">


      <div class="buy-finfish-block-text">

        <div class="container">
          <div class="mx-auto text-center pt-4 pb-4">

            <div class="d-flex justify-content-center align-items-center">
            <div class="yes-img ">
              <span class="material-symbols-outlined">
                check
                </span>
            </div>
            <div class="title-block">
              <h1 class="text-center my-2 title-deco">恭喜，Jessica！</h1>
              <h1 class="text-center my-2 title-deco pb-3">您已購買完成</h1>
            </div>
          </div>

            <p class="mb-3 mb-3">感謝您在 Learning 購買了課程，我們已將訂單相關資訊發送至您的電子信箱。</p>
          </div>

          <div class="d-flex justify-content-center align-items-center">
            <button type="button" class="btn btn-primary px-4 py-2 mx-1">立即前往上課</button>
            <button type="button" class="btn btn-outline-primary px-4 py-2 mx-1">查看訂單記錄</button>
          </div>
        </div>
      </div>

      <div class="container-fluid buy-finfish-item-card">


        <div class="container">

          <div class="text-start py-4 mb-3 ">
            <span class="deco "><img src="../assets/images/deco/flower-5.png" alt=""></span>
            <h5 class=" d-inline-block align-bottom">更多程式學習相關課程</h5>
          </div>

          <div class="card-list">

            <div class="row ">

              <div class="card-item2 col-lg-3 col-md-3 col-md-12">
                <img src="../assets/images/course-1.png" class="card-img-top" alt="創意寫作工坊">

                <div class="text-overlay position-absolute f-blue fs-14 fw-600" style="top: 16px; left: 16px;">
                  優惠倒數10天
                </div>

                <div class="card-body py-4 px-3">

                  <h2 class="fs-5 fw-600 mb-2">創意寫作工坊：從靈感到出版的全過程</h2>

                  <div class="author d-flex align-items-center mb-4"><img src="../assets/images/avatar-1.png"
                      class="me-2" alt="Kelly Hsu">
                    <p>Kelly Hsu</p>
                  </div>
                  <div class="student d-flex justify-content-between mb-2">
                    <p class="fw-600 f-blue">募資進度81%</p>
                    <p class="fs-14">已有521位同學加入</p>
                  </div>

                  <div class="progress mb-2" style="height: 8px;">
                    <div class="progress-bar" role="progressbar" style="width: 81%" aria-valuenow="81" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>

                  <div class="price d-flex">
                    <p class="me-2 fw-600">NT$2,480</p>
                    <p class="fs-14 line-through">NT$3,280</p>
                  </div>
                </div>
              </div>

              <div class="card-item2 col-lg-3 col-md-3 col-md-12">
                <img src="../assets/images/course-2.png" class="card-img-top" alt="創意寫作工坊">

                <div class="text-overlay position-absolute f-blue fs-14 fw-600" style="top: 16px; left: 16px;">
                  優惠倒數10天
                </div>

                <div class="card-body py-4 px-3">

                  <h2 class="fs-5 fw-600 mb-2">創意寫作工坊：從靈感到出版的全過程</h2>

                  <div class="author d-flex align-items-center mb-4"><img src="../assets/images/avatar-2.png"
                      class="me-2" alt="Kelly Hsu">
                    <p>Kelly Hsu</p>
                  </div>
                  <div class="student d-flex justify-content-between mb-2">
                    <p class="fw-600 f-blue">募資進度81%</p>
                    <p class="fs-14">已有521位同學加入</p>
                  </div>

                  <div class="progress mb-2" style="height: 8px;">
                    <div class="progress-bar" role="progressbar" style="width: 81%" aria-valuenow="81" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>

                  <div class="price d-flex">
                    <p class="me-2 fw-600">NT$2,480</p>
                    <p class="fs-14 line-through">NT$3,280</p>
                  </div>
                </div>
              </div>

              <div class="card-item2 col-lg-3 col-md-3 col-md-12">
                <img src="../assets/images/course-3.png" class="card-img-top" alt="創意寫作工坊">

                <div class="text-overlay position-absolute f-blue fs-14 fw-600" style="top: 16px; left: 16px;">
                  優惠倒數10天
                </div>

                <div class="card-body py-4 px-3">

                  <h2 class="fs-5 fw-600 mb-2">創意寫作工坊：從靈感到出版的全過程</h2>

                  <div class="author d-flex align-items-center mb-4"><img src="../assets/images/avatar-3.png"
                      class="me-2" alt="Kelly Hsu">
                    <p>Kelly Hsu</p>
                  </div>
                  <div class="student d-flex justify-content-between mb-2">
                    <p class="fw-600 f-blue">募資進度81%</p>
                    <p class="fs-14">已有521位同學加入</p>
                  </div>

                  <div class="progress mb-2" style="height: 8px;">
                    <div class="progress-bar" role="progressbar" style="width: 81%" aria-valuenow="81" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>

                  <div class="price d-flex">
                    <p class="me-2 fw-600">NT$2,480</p>
                    <p class="fs-14 line-through">NT$3,280</p>
                  </div>
                </div>
              </div>

              <div class="card-item2 col-lg-3 col-md-4 col-md-12">
                <img src="../assets/images/course-4.png" class="card-img-top" alt="創意寫作工坊">

                <div class="text-overlay position-absolute f-blue fs-14 fw-600" style="top: 16px; left: 16px;">
                  優惠倒數10天
                </div>

                <div class="card-body py-4 px-3">

                  <h2 class="fs-5 fw-600 mb-2">創意寫作工坊：從靈感到出版的全過程</h2>

                  <div class="author d-flex align-items-center mb-4"><img src="../assets/images/avatar-4.png"
                      class="me-2" alt="Kelly Hsu">
                    <p>Kelly Hsu</p>
                  </div>
                  <div class="student d-flex justify-content-between mb-2">
                    <p class="fw-600 f-blue">募資進度81%</p>
                    <p class="fs-14">已有521位同學加入</p>
                  </div>

                  <div class="progress mb-2" style="height: 8px;">
                    <div class="progress-bar" role="progressbar" style="width: 81%" aria-valuenow="81" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>

                  <div class="price d-flex">
                    <p class="me-2 fw-600">NT$2,480</p>
                    <p class="fs-14 line-through">NT$3,280</p>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>


    </div>


    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>